.centerConteiner{
    position: absolute;
    width: 800px;
    height: 400px;
    top: 45%; left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(217, 217, 217, 0.17);
    border-radius: 30px;

}

.groupButton{
    margin-top: 100px;
    display:grid;
    gap: 30px;
    justify-content: center;
}


.line{/* Line 4 */
    margin-top: 25px;
    margin-left: 200px;
    width: 50%;
    height: 0px;
    border: 1px solid #FFFFFF;
    }

.buttonForm{
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;
    background: #FFFFFF;
    border: 10px;
    column-width: 400px;
    text-decoration: none;
    border-radius: 5px; 
    box-shadow: 0 4px #999;
}
.buttonForm:visited{
    text-decoration: none;
    color:black;
}
.buttonForm:hover{
    background-color: azure;
    scale:105%;
}

