.centerConteiner{
    position: absolute;
    width: 800px;
    height: 400px;
    top: 45%; left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(217, 217, 217, 0.17);
    border-radius: 30px;

}

.groupButton{
    margin-top: 100px;
    display:grid;
    gap: 30px;
    justify-content: center;
}


.line{/* Line 4 */
    margin-top: 25px;
    margin-left: 200px;
    width: 50%;
    height: 0px;
    border: 1px solid #FFFFFF;
    }

.buttonForm{
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;
    background: #FFFFFF;
    border: 10px;
    column-width: 400px;
    text-decoration: none;
    border-radius: 5px; 
    
}
.buttonForm:visited{
    text-decoration: none;
    color:black;
}
.buttonForm:hover{
    background-color: azure;
}
/* 
position: absolute;
width: 722px;
height: 515px;
left: 279px;
top: 152px;




position: absolute;
width: 722px;
height: 515px;
left: 279px;
top: 152px;

background: rgba(217, 217, 217, 0.17);
border-radius: 30px;



position: absolute;
width: 214px;
height: 61px;
left: 534px;
top: 471px;




position: absolute;
width: 205px;
height: 53px;
left: 543px;
top: 479px;

background: #55609B;



box-sizing: border-box;

position: absolute;
width: 205px;
height: 53px;
left: 534px;
top: 471px;

border: 2px solid #FFFFFF;



position: absolute;
width: 108px;
height: 28px;
left: 590px;
top: 485px;

font-family: 'Homenaje';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 28px;
text-align: center;

color: #FFFFFF;




position: absolute;
width: 49px;
height: 49px;
left: 928px;
top: 181px;




position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;




position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;



position: absolute;
width: 416px;
height: 0.02px;
left: 433px;
top: 205.98px;




position: absolute;
width: 416px;
height: 0px;
left: 433px;
top: 206px;

border: 1px solid #FFFFFF;
transform: rotate(0deg);



position: absolute;
width: 214px;
height: 61px;
left: 534px;
top: 308px;




position: absolute;
width: 205px;
height: 53px;
left: 543px;
top: 316px;

background: #55609B;



box-sizing: border-box;

position: absolute;
width: 205px;
height: 53px;
left: 534px;
top: 308px;

border: 2px solid #FFFFFF;



position: absolute;
width: 127px;
height: 28px;
left: 581px;
top: 322px;

font-family: 'Homenaje';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 28px;
text-align: center;

color: #FFFFFF;


 */
