.mainContainer{
    min-height: 100vh;
    min-width: 100vh;
    width: 100%;
    height: auto;
    overflow: auto;     
    position: relative;
 
    background: linear-gradient(to bottom, #00141C,#5B002B);
    
}


.conteinerImg{
    position: absolute;
    top:85%;
    margin: auto;
    width: 300px;
       
}
.centerConteiner{
    position: absolute;
    width: 800px;
    height: 500px;
    top: 45%; left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(217, 217, 217, 0.17);
    border-radius: 30px;

}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:2fr 1fr;
    padding: 30px;
}